body {
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item-active {
  border-left: #444 3px solid;
}

.carousel-image-1 {
  background-size: cover;
}

.carousel-image2 {
  background-size: cover;
}

.carousel-image3 {
  background-size: cover;
}

#home-heading {
  position: relative;
  text-align: center;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("../images/image8.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -500px;
  color: #ffff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  margin-bottom: 90px;
}

.about-image {
  margin-top: -30px;
}

.card-deck .zoom {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  cursor: pointer;
}

.card-deck {
  margin: 0 auto;
}

#video-play {
  min-height: 300px;
  background: url("../images/image8.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0px;
  text-align: center;
  background-size: cover;
}

#video-play a {
  color: #fff;
}

#video-paly h1 {
  margin-bottom: 100px;
}

.map iframe {
  width: 100%;
  height: 590px;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
}

.img-fluid .zoom {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.zoom:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.carousel-image-34 {
  background: url("../images/image34.jpg");
  background-size: cover;
}

.carousel-image-35 {
  background: url("../images/image35.jpg");
  background-size: cover;
}

.carousel-image-36 {
  background: url("../images/image36.jpg");
  background-size: cover;
}

.modal .carousel-item {
  height: auto;
}

.modal .carousel-item img {
  height: 450px;
  width: 500px;
}

.modal img {
  height: 400px;
  width: 500px;
}

#videoModal .container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

footer {
  background-color: skyblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-header h5 {
  margin-bottom: 50px;
}

#about h5 {
  font-weight: 400;
}

#about img {
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */